<div class="jumbotron">
  <h1>Blog Posts</h1>
  <p>This is simple Blog Application for Viewing your blogs and adding.</p>
  <p><a class="btn btn-primary btn-lg" href="/register">Register</a></p>
</div>