<div class="users form">
<?php echo $this->Flash->render('auth'); ?>
<?php echo $this->Form->create('User'); ?>
<fieldset>
<legend>
<?php echo __('Please enter your username and password'); ?>
</legend>
<?php echo $this->Form->input('username');
echo $this->Form->input('password');
?>
</fieldset>
<?php echo $this->Form->end(__('Login')); ?>

        <!--   <form>
              <div class="form-group">
                  <label name="email">Email:</label>
                  <input id="email" name="email" class="form-control">
              </div>

              <div class="form-group">
                  <label name="subject">Password:</label>
                  <input id="password" name="password" type="password" class="form-control">
              </div>
              <input type="submit" value="Login" class="btn btn-success">
              <input type="Reset" value="Reset" class="btn btn-primary">

          </form>
 -->      </div>
  </div>